In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
# operatoes
# +,-,*,/
# ==,<,>,<=>=,!=
# and(&) or (|)
# 5,9 
# operands

In [3]:
a=20
b=20

print (a)
print (b)

20
20

In [5]:
a=20
a+5;
print(a)

20

In [8]:
#Two types of copy: Shallow, Deep
# Shallow copy just copies the address i.e c=b we call b from c
# Depp copies the data and value both 
a=20
b=20

print (a)
print (b)


print (id(a))
print (id(b))

20
20
140728024671216
140728024671216

In [14]:
# Premitive Datatypes
# 1-integer
a=20
print (a)
print (type(a))

# float

a=20
b=20

c=a/b
print (c)
print(type(c))

#string 
a="bashar"
print (a)
print (type(a))

20
<class 'int'>
1.0
<class 'float'>
bashar
<class 'str'>

In [17]:
# List datatypes
#indexes    0          1      2     3    4
names= ["Musharaf","Hammad","Ahmed",200,True]
#neg indexes -5    ,-4     -3      ,-2  ,-1
print (names)
print (names[2])
print(type(names))

['Musharaf', 'Hammad', 'Ahmed', 200, True]
Ahmed
<class 'list'>

In [18]:
#mutable and immutable----imutable does not change----while mutbale will be changeable.
#tuple does not change so it is immutable..

In [27]:
#set datatypes
names={"ali","ahmed","afaq","zain"}
names=list(names) #Type casting Concept---- Change data type from set to list to seach by indexes
names[0]

'ahmed'

# Slicing

In [28]:
#list(start;end;step)
#tuple(start;end;step)
#string(start;end;step)
#start-> included
#end -> excluded
# step -> Sequence

In [34]:
a="Pakistan will rise INSHALLAH"
print(a[::])
print(a[::-3])
print(a[1:3])
print(a[0:10])
print(a[0:-1])

Pakistan will rise INSHALLAH
HLS ilwaiP
ak
Pakistan w
Pakistan will rise INSHALLA

In [36]:
# string data types
a="ishafqaatsyed"
a.capitalize
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [42]:
a="Muhammad Bin Qasim"
print(a)
print(a.upper()) #inline operation
a=a.upper()
print(a) #in memory operation

Muhammad Bin Qasim
MUHAMMAD BIN QASIM
MUHAMMAD BIN QASIM

In [46]:
a="      Muhammad Bin Qasim        "
print(len(a))
print(a.lstrip())
print(a.strip())
print(a)

32
Muhammad Bin Qasim
Muhammad Bin Qasim
      Muhammad Bin Qasim

In [49]:
a="Syed Shafqaat Haider"
b=a.split()
b

['Syed', 'Shafqaat', 'Haider']

In [50]:
">>>".join(b)

'Syed>>>Shafqaat>>>Haider'

In [74]:
a="We are pakistani we love our country"
a.find[("pakistan")]
a.index["pakistan"]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [56]:
a[a.index{"pakistan"}; a.index{"pakistan"}+9]

SyntaxError: invalid syntax (<ipython-input-56-baf8b9a64d05>, line 1)

In [59]:
b=input("Search:")]
print(a[a.index(b)];a.index[])

SyntaxError: invalid syntax (<ipython-input-59-00127db080f0>, line 1)

In [67]:
card = """
PIAIC ISLAMABAD
Bahria University
Name: Syed Shafqaat HAider
Fathers Name: Syed Pervaiz Shah
Gender:male
"""
print(card)

PIAIC ISLAMABAD
Bahria University
Name: Syed Shafqaat HAider
Fathers Name: Syed Pervaiz Shah
Gender:male

In [ ]:
student_name=input("Enter student name:")
Father_name=input
card = """
PIAIC ISLAMABAD
Bahria University
Name: Syed Shafqaat HAider
Fathers Name: Syed Pervaiz Shah
Gender:male
Fee:%d
"""

In [70]:
name="Shafqaat Haider"
Father="pervaiz Shah"
Fee="1000"

a="""
Bahria University islamabad
Student name: {name}
Father name: {father}
Fee: {Fee}
"""
print(a)

Bahria University islamabad
Student name: f{name}
Father name: {father}
Fee: {Fee}

In [69]:
name="Shafqaat Haider"
Father="pervaiz Shah"
Fee="1000"

a="""
Bahria University islamabad
Student name: {}
Father name: {}
Fee: {}
"""
print (a.format(name,Father,Fee))

Bahria University islamabad
Student name: Shafqaat Haider
Father name: pervaiz Shah
Fee: 1000

In [72]:
name="Shafqaat Haider"
Father="pervaiz Shah"
Fee="1000"

a="""
Bahria University islamabad
Student name: {sn}
Father name: {fn}
Fee: {f}
"""
print (a.format(sn=name,fn=Father,f=Fee))

Bahria University islamabad
Student name: Shafqaat Haider
Father name: pervaiz Shah
Fee: 1000

In [73]:
"1"+'1'

'11'

In [75]:
int("1")+int('1')

2

In [76]:
1*2

2

In [77]:
1/2

0.5

In [78]:
"gg"*2

'gggg'

In [89]:
name="shafqaat"
fname="Pervaiz"
Fee="200"
print("Bahria Uni Islamabad\nStudent name:\
"+name+"\nFather name:"+fname)

Bahria Uni Islamabad
Student name:shafqaat
Father name:Pervaiz